:root {
  --head-bg: #af0000;
  --modal-bg: #af0000;
  --primary-color: #af0000;
  --secondary-color: #ffe255;
  --primary-bg: #af0000;
  --secondary-bg: #fff;
  --page-topBar: #141414;
  --footerBG: #fff;
  --color1: #fff;
}
